doctype html
html(lang="en")
  head
    title Banner HTML5
    link(rel="stylesheet", href="css/styles.css")
  body
    .banner
      h5 Lorem ipsum dolor sit amet
      h6 
        |Quisque fringilla est ipsum,
        | at mattis ligula congue id.
      a(href="#")
        |click me
      img(src="img/logo.png", alt="")
